body {
    font-family:Helvetica, sans-serif;
    background-color: #ccc;
    color: #222
}

img {
    width: 100%;
}

.card {
    background-color: rgb(229, 229, 229);
    border-radius: 20px;
    margin: 0 auto;
    width: 400px;
    text-align: center;
}

.card .avatar {
    width: 100px;
}